PLAINID_CLIENT_ID=REPLACE_WITH_PLAINID_CLIENT_ID
PLAINID_CLIENT_SECRET=REPLACE_WITH_PLAINID_CLIENT_SECRET
PLAINID_RUNTIME_HOST=REPLACE_WITH_PLAINID_RUNTIME_HOST
PLAINID_RUNTIME_PORT=8080
PLAINID_RUNTIME_BASE_URL=REPLACE_WITH_RUNTIME_BASE_URL
PLAINID_TOOLS_ASSET=Tools
PLAINID_EMPTY_ON_ERROR=false
PLAINID_MCP_GATEWAY_ADDR=:5235
BANK_MCP_URL=http://docker.for.mac.localhost:4011/mcp
PRESIDIO_ANALYZER_HOST=
PRESIDIO_ANALYZER_PORT=
PRESIDIO_ANONYMIZER_HOST=
PRESIDIO_ANONYMIZER_PORT=
DATAFILTER_HOST=
DATAFILTER_PORT=
DATAFILTER_CLIENT_ID=
DATAFILTER_CLIENT_SECRET=
